<kendo-upload
#upload="kendoUpload"
(upload)="uploadEventHandler($event)"
(remove)="removeEventHandler($event)"
[autoUpload]="true"
[restrictions]="myRestrictions"
[saveUrl]="uploadSaveUrl"
(complete)="selectFile($event)"
(focus)="selectFile($event)"
(valueChange)="selectFile($event)"
(blur)="selectFile($event)"
[(ngModel)]="allFiles"
[removeUrl]="uploadRemoveUrl">
<!-- <ng-template kendoUploadFileTemplate let-files let-state="state">
    <div *ngFor="let file of files">
            <div>Name: {{file.name}} Size: {{file.size}} bytes</div>
            <button *ngIf="showButton(state)"
                (click)="remove(file)"
                class="k-button" style="position: relative; left: .2em;">
                Remove
            </button>
    </div>
 </ng-template> -->
</kendo-upload>
<!-- <ol class="border">
    <li>List Item<br/>And some more text here.<br/>The more text we add, the longer this thin gray border line to the left gets.</li>
    <li>List Item<br/></li>
    <li>List Item</li>
    <li>List Item</li>
  </ol> -->
  